/* body{
  height:100%;
  width:100%;
} */



body{
  margin: 0;
  padding: 0;
}

.container {
  width:100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15%  70% 15%;
  grid-template-rows: 15% 70% 15%;
  background-color: rgb(159, 103, 190);
}

#sign-cont{
  color:rgb(252, 223, 21);
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: rgb(107, 58, 199);
  grid-template-columns: 50% auto;
  grid-template-rows: 20% auto;
}


.username-input{
  font-size: 3em;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row: 1;
  place-self: center;
}

input{
  font-size: 0.5em;
  background-color: inherit;
  color:inherit;
  border: none;
  border-bottom: 2px solid rgb(252, 223, 21);
}

.join-room{

  font-size: 3em;
  display: flex;
  grid-column: 1;
  grid-row: 2;
  place-self: center;
}

#createRoom{

  font-size: 3em;
  grid-column: 2;
  grid-row: 2;
  place-self: center;
}

#joinRoom{

  font-size: 1em;
}

.quizz-cont{
  color:rgb(252, 223, 21);
  background-color: rgb(107, 58, 199);
  font-family:  Vcr-osd;
  grid-column-start: 2;
  grid-row-start: 2;
}

.quizz-cont{
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 20% 60% 10% 10%;
}

.question-header{
  border: 2px solid rgb(252, 223, 21);
  grid-row:1;
  grid-column: 2;
  place-self: center;
  font-size: 2em;
}

.chat{
  overflow-y:auto;
  grid-row: 2/3;
  grid-column: 2;
}

.chat-input{
  display: flex;
  justify-content: space-around;
  grid-row: 3;
  grid-column: 2;
  background-color: rgb(230, 41, 117);
}

.chat-input input[type="text"]{
  font-size:1em;
}

.foot-info{
  grid-row: 4;
  grid-column: 1;
  background-color: rgb(96, 101, 71);
}

.players-list-sidebar{
  border: 2px solid rgb(252, 223, 21);
  grid-row: 2/4;
  grid-column: 1;
}
